/* ================================ 
    BASIC ELEMENTS
==================================*/

/* body {
    font-family: 'Roboto', sans-serif;
}

header,
footer {
    min-width: 100%;
    background-color: #0099ff;
}

main {
    width: 60%;
    margin: 0 auto;
    padding: 2em; 
} */
.octicon {
    fill: #fff;
}